# Ignore files and directories commonly excluded in .NET Core projects

# .NET Core build files
bin/
obj/

# Visual Studio files
.vs/
*.userprefs
*.suo

# Build and package files
*.dll
*.exe
*.pdb
*.dll.config
*.json
*.xml
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

# Logs and test results
*.log
TestResults/

# IDE-specific files
.vscode/
.idea/
*.sln.iml
